{% extends 'base.html' %}


{% block content%}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, laudantium eos! Ullam sit atque dignissimos quae eligendi, recusandae facere repellendus pariatur ipsum non repellat perferendis quo aperiam similique amet officiis earum incidunt consectetur et illum voluptatem. Ex nulla at eligendi accusamus similique iusto deserunt magni modi enim veniam exercitationem sequi beatae soluta ipsa accusantium inventore deleniti nobis labore expedita, magnam incidunt praesentium! Alias illo voluptatem et ad aliquid pariatur deserunt explicabo dolorem nostrum beatae, similique, minus, voluptatum excepturi totam ipsa reprehenderit? Sed doloribus, quam perspiciatis quod laborum nam nesciunt culpa autem! Incidunt eaque consequuntur illo praesentium quod optio esse dolores.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Singin
                </a>
                <a class="btn btn-primary" href="/signup/"></a>
                    Singup
                </a>
            </div>
        </section>
    </main>

{% endblock %}